@import "../../styles/colors";
@import "../../styles/style";

.quizBoxMainContainer {
  width: 90%;
  background-color: transparent-color($primary, .2);
  min-height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  transition: .2s ease;

  &:hover {
    background-color: transparent-color($primary, .3);
  }

  > button {
    margin-right: 10px;
  }

  > a {
    width: inherit;
    text-decoration: none;
    color: $black;
  }

  > div  {
    color: $black;
    display: flex;

    > svg {
      color: transparent-color($black, .3);
      width: 18px;
      margin-left: 2px;
      cursor: pointer;
      transition: .2s ease-in;

      &:hover {
        color: transparent-color($black, .6);
      }
    }
  }
}