@import "../../styles/style";
@import "../../styles/colors";

.quizMainContainer {
  @include mainContainerDefault;
  display: flex;
  flex-direction: column;

  > span {

    &:nth-child(1) {
      font-size: 38px;
    }

    &:nth-child(2) {
      margin-top: 20px;
      font-size: 28px;
    }

    &:nth-child(3) {
      margin-top: 20px;
      font-size: 18px;
    }
  }

  .answersContainer {
    margin-top: 25px;
  }

  .nextStepContainer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}