@import "fonts";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.mainContainer {
  @include center;
  margin: 20px;
}
