@import "../../styles/style";
@import "../../styles/colors";

.quizCatalogMainContainer {
  @include mainContainerDefault;

  .emptyQuizArray {
    color: transparent-color($gray, .6);
    font-size: 20px;
  }

  > div  {
    &:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > div {
        margin-right: 15px;
      }
    }

    &:last-child {
      margin-top: 35px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      > div  {
        margin-bottom: 25px;
      }
    }
  }
}